body {
  background-color: #F7F7F7;
  margin: 0; }

.inputInvalid {
  color: #FF7473; }

.primaryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 30px;
  border-radius: 999px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none; }

.saveBtn {
  background-color: #47B8E0;
  border: 2px solid #47B8E0;
  color: #fff; }
  .saveBtn:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #47B8E0;
    color: #34314C;
    cursor: pointer; }

.cancelBtn {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #FF7473;
  color: #34314C; }
  .cancelBtn:hover {
    background-color: #FF7473;
    color: #fff;
    cursor: pointer; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: #47B8E0; }
  .header .siteLogo {
    margin-left: 20px;
    height: 35px;
    width: 22px; }
  .header .siteName {
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: #fff; }
  .header a {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 20px; }
    .header a:hover {
      cursor: pointer; }
    .header a img {
      width: 100%;
      height: 100%; }

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .contentContainer h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-align: center; }

.boxShadow {
  -webkit-box-shadow: 0px 2px 6px 1px rgba(143, 143, 143, 0.57);
  -moz-box-shadow: 0px 2px 6px 1px rgba(143, 143, 143, 0.57);
  box-shadow: 0px 2px 6px 1px rgba(143, 143, 143, 0.57); }

.errorMessage {
  color: #FF7473;
  padding-top: 20px;
  margin: 0; }

.loadingTrue {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: #fff;
  opacity: 0.95;
  color: #fff; }

.loadingFalse {
  display: none; }

.displayNone {
  display: none; }

.filterDropdownContainer h2 {
  margin-top: 20px;
  margin-bottom: 0; }

.filterUnselected {
  color: #9a9a9a;
  font-weight: 300;
  cursor: pointer; }

.filterSelected {
  color: #47B8E0;
  font-weight: 600;
  cursor: pointer; }

.filterDivider {
  padding: 0 5px 0 5px; }

.headingBanner {
  display: block;
  height: 50px;
  background-color: #FFC952;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 50px;
  padding-left: 20px;
  color: #fff; }

.emptyState {
  width: 100%;
  height: 200px;
  margin-top: 40px;
  float: center;
  background-image: url(/css/img/empty_state.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-width: 122px;
  background-height: 155px;
  background-size: 122px 155px; }

.pairContainer {
  margin-top: 20px; }
  .pairContainer .fontPair {
    position: relative; }
    .pairContainer .fontPair .pairBox {
      display: block;
      background-color: #fff;
      margin: 0 20px 40px 20px; }
      .pairContainer .fontPair .pairBox h3, .pairContainer .fontPair .pairBox p {
        padding: 0 20px;
        color: #34314C; }
      .pairContainer .fontPair .pairBox h3 {
        font-family: "Josefin Slab", serif;
        font-weight: 700;
        font-size: 1.9rem;
        margin-bottom: 10px; }
      .pairContainer .fontPair .pairBox p {
        font-family: "Open Sans", sans-serif;
        padding-bottom: 50px;
        font-weight: 400; }
    .pairContainer .fontPair .favBox {
      position: absolute;
      bottom: -15px;
      right: 40px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      width: 80px;
      height: 35px;
      background-color: #fff;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      line-height: 35px; }
      .pairContainer .fontPair .favBox .favouriteBtn {
        display: block;
        height: 20px;
        width: 19px;
        margin-left: 7px;
        cursor: pointer;
        background-image: url(/css/img/heart_btn.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-width: 100%;
        background-size: cover; }
        .pairContainer .fontPair .favBox .favouriteBtn:hover {
          background-image: url(/css/img/heart_btn_hover.svg); }

.detailsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
  background-color: #fff;
  padding: 0 20px; }
  .detailsContainer p {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400; }
  .detailsContainer #primaryFontP {
    margin-top: 40px; }
  .detailsContainer #primFontInput, .detailsContainer #secFontInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Open Sans", sans-serif;
    transition: all 0.3s;
    border-bottom: 2px solid #bebed2; }
    .detailsContainer #primFontInput:focus, .detailsContainer #secFontInput:focus {
      border-bottom: 2px solid #78788c; }
  .detailsContainer #primFontInput {
    margin-bottom: 20px; }
  .detailsContainer #secFontInput {
    margin-bottom: 40px; }

.newPreview {
  display: block;
  background-color: #fff;
  margin: 40px 20px 0 20px; }
  .newPreview h3, .newPreview p {
    padding: 0 20px;
    color: #34314C; }
  .newPreview h3 {
    font-family: "Josefin Slab", serif;
    font-weight: 700;
    font-size: 1.9rem;
    margin-bottom: 10px; }
  .newPreview p {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px;
    font-weight: 400; }

.addPreviewBanner {
  display: block;
  height: 50px;
  background-color: #FFC952;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  line-height: 50px;
  padding-left: 20px;
  color: #fff; }

.confirmBtnContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  margin: 50px 0 30px 0; }
  @media (max-width: 540px) {
    .confirmBtnContainer {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .confirmBtnContainer .createBtn {
        margin-left: 0;
        margin-top: 20px; } }
